@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 250px;
}

.app {
    @apply relative flex flex-col min-h-screen;
}

@media (max-width: 976px) {
    .app {
        width: calc(100vw + var(--sidebar-width));
        transition: left 250ms ease-in-out;
        left: calc(0px - var(--sidebar-width));
    }

    .app.show-nav {
        left: 0;
    }
}



#page-sidenav {
    @apply fixed z-10 flex flex-col min-h-screen overflow-y-auto overflow-x-hidden bg-blue-50;
    width: var(--sidebar-width);
}

#page-container {
    padding-left: var(--sidebar-width);
}